.hightlights-title{
    // text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.79);
    // text-shadow:1px 1px 5px rgb(92, 92, 92), 1px 1px 5px #ccc;
        background: rgba(238, 174, 202, 0.351);
    background: radial-gradient(circle, rgba(238,174,202,0.351) 0%, rgba(148,187,233,0.3) 100%); 
}
.hightlights-mobile{
    // background: rgba(238, 174, 202, 0.351);
    background: radial-gradient(circle, rgba(238,174,202,0.351) 0%, rgba(148,187,233,0.3) 100%); 
}
// .hightlights-mobile-title{
//     // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.79);
// }

