.input {
  font-size: 16px;
  border: 1px solid black;
  margin: 0px 0px 0px 10px;

  width: 80%;
}

.btn {
  width: 150px;
  height: 50px;
  color: white;
  background: grey;
  border-radius: 5px;
  font-size: 18px;
  display: block;
  padding: 5px;
  margin: 20px 0px 0px 10px;
}
.btn:hover {
  color: black;
  background: white;
}

.messages {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  border: 1px solid black;
  border-radius: 30px;
  width: 60vw;

  background: linear-gradient(129deg, #5f5f5f, #000000, #5f5f5f);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 21s ease infinite;
  -moz-animation: AnimationName 21s ease infinite;
  -o-animation: AnimationName 21s ease infinite;
  animation: AnimationName 21s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 11%;
  }
  50% {
    background-position: 100% 90%;
  }
  100% {
    background-position: 0% 11%;
  }
}

.formInput {
  margin: 20px;
}

.label {
  display: block;
  font-size: 16;
  color: white;
  margin: 10px;
}

.passwordCheck {
  color: white;

  margin: 20px 0px 20px 20px;
  padding: 10px;
  font-size: 14px;
  width: 50vw;
  border: 1px solid black;
  border-radius: 20px;

  background: black;
  opacity: 0.85;
}
@media screen and (mein-width: 200px) and (max-width: 820px) {
}
