.headBar {
  height: 100px;
  border: 1px solid grey;

  display: flex;
  justify-content: space-between;
}

.leftContainer,
.rightContainer {
  display: flex;
}

.leftContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px 0px 0px 20px;
  color: white;
  height: 50px;
  width: 100px;

  border-radius: 20px;
  color: white;
  background-color: black;
}

.rightContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px 20px 0px 0px;
  color: indigo;
  height: 50px;
  width: 100px;

  border: 2px solid black;
  border-radius: 20px;
}

.menuBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 20px 20px 0px;
  transition: 0.3s;
  border-radius: 10px;
}
.menuBtn:hover {
  background-color: black;
  color: white;
}

.showSideMenu {
  color: white;
  margin: 10px;
  position: fixed;
  z-index: 100;
  right: 0;
  width: 300px;
  height: 70vh;
  border-radius: 20px;
  background: black;
  opacity: 0.85;
  transition: all 0.5s ease-in-out;
  transform: translate(0);
}
.closeSideMenu {
  right: 0;
  position: fixed;
  z-index: -1;
  transform: translate(+100%);
  transition: all 0.5s ease-in-out;
}

.listItem {
  margin: 50px 0px 0px 30px;
}
